@font-face {
    font-family: "Josefin Rehular";
    src: url("../fonts/Josefin/JosefinSans-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Josefin Medium";
    src: url("../fonts/Josefin/JosefinSans-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Josefin SemiBold";
    src: url("../fonts/Josefin/JosefinSans-SemiBold.ttf");
    font-weight: 600;
}