// colors
$gray: #797979;
$gray-2: #bab8b8;
$light-gray: #f4eeec;
$light-gray-2: #ece1db;
$light-gray-3: #d6d7db;
$black: #212121;

// fonts
$josefin-regular: 400 "Josefin Regilar", Arial, sans-serif;
$josefin-medium: 500 "Josefin Medium", Arial, sans-serif;
$josefin-semi_bold: 600 "Josefin SemiBold", Arial, sans-serif;
