// colors
$light-gray: rgb(244, 238, 236);

// fonts
$josefin-regular: 400 "Josefin Regilar", Arial, sans-serif;
$josefin-medium: 500 "Josefin Medium", Arial, sans-serif;
$josefin-semi_bold: 600 "Josefin SemiBold", Arial, sans-serif;